*{
  box-sizing: border-box;
}

body{
  margin:0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: silver;
}

.container{
  max-width: 900px;
  background: white;
  margin:0 auto;
  min-height: 600;
}

.game{
  max-width: 450px;
  min-height: 450px;
  background: black;
  margin: 0 auto;
 
}

.box{
  width:100%;
  max-width: 150px;
  min-height: 150px;
  border:2px solid yellow;
  float:right;
  text-align: center;
}

.box img{
  width:90%;
}